{% extends "layouts/base.html" %}

{% block title %}Formulaire Enquetes {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="#">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">ENQUÊTE SYSTÉMIQUES</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">FORMULAIRE DE MISES À JOUR D’ENQUÊTES SYSTÉMIQUES</a>
				</li>
			</ul>
		</div>

		<div class="row">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header">
						<div class="card-title" style="color:orange;font-size:25px;"><b>MISE À JOUR DES D’ENQUÊTES SYSTÉMIQUES</b></div>
					</div>
					<form class="form-horizontal" action = "/updateenquetes/{{ enquete.id }}" method="POST">
						{% csrf_token %}
						
						<div class="card-body">
							
							<div class="row">
								
								<div class="col-md-6 col-lg-6">
									 
									<div class="form-group">
										<label>ENQUÊTE SYSTÉMIQUE - OPHTALMOLOGIE</label><br/>
										<label>DOULEUR</label><br/>
										<select class="form-control" id="douleur" name="douleur" required>
											<option selected>{{ enquete.douleur }}</option>
											<option>Douleur Presente</option>
											<option>Douleur Absente</option>
											<option>RAS</option>
										</select>
									</div>
									
									<div class="form-group">
										<label>LARMOIEMENT</label><br/>
										
										<select class="form-control" id="larme" name="larme" required>
											<option selected>{{ enquete.larme }}</option>
											<option>Larmoiement Presente</option>
											<option>Larmoiement Absente</option>
										</select>
										

									</div>
									
									

									<div class="form-group">
										<label>PICOTTEMENTS</label><br/>
											<select class="form-control" id="picco" name="picco" required>
												<option selected>{{ enquete.larme }}</option>
												<option>Piccotement Presente</option>
												<option>Piccotement Absente</option>
											</select>
											
									</div>
									

									<div class="form-group">
										<label>PRURIT</label><br/>
										<select class="form-control" id="prurit" name="prurit" required>
											<option selected>{{ enquete.prurit }}</option>
											<option>Prurit Presente</option>
											<option>Prurit Absente</option>
										</select>
										
									</div>
							   
									
									<div class="form-group">
										<label>SENSATION DE GRAINS</label><br/>
										<select class="form-control" id="grains" name="grains" required>
											<option selected>{{ enquete.grains }}</option>
											<option>Sensation Grains Presente</option>
											<option>Sensation Grains Absente</option>
										</select>
									</div>
									

									<div class="form-group">
										<label>FLOU VISUEL</label><br/>
										<select class="form-control" id="visuels" name="visuels" required>
											<option selected>{{ enquete.visuels }}</option>
											<option>Flou Visuel Presente</option>
											<option>Flou visuel Absente</option>
										</select>
									</div>
									

									<div class="form-group">
										<label>METAMORPHOPSIE</label><br/>
										<select class="form-control" id="meta" name="meta" required>
											<option selected>{{ enquete.meta }}</option>
											<option>Presente</option>
											<option>Absente</option>
										</select> 
									</div>

									<div class="form-group">
										<label>PHOTOPSIES</label><br/>
										<select class="form-control" id="photopsies" name="photopsies" required>
											<option selected>{{ enquete.photopsies }}</option>
											<option>Photopsies Presente</option>
											<option>Photopsies Absente</option>
										</select> 
									</div>
									
	

									<div class="form-group">
										<label>MYODESOPSIE</label><br/>
										<select class="form-control" id="myodesopsies" name="myodesopsies" required>
											<option selected>{{ enquete.myodesopsies }}</option>
											<option>Myodesopsies Presente</option>
											<option>Myodesopsies Absente</option>
										</select> 
									</div>

									<div class="form-group">
										<label>ENQUÊTE SYSTÉMIQUE - NEUROLOGIQUE</label><br/>
										<label>CÉPHALÉES</label><br/>
										<select class="form-control" id="Cephalees" name="Cephalees" required>
											<option selected>{{ enquete.Cephalees }}</option>
											<option>Cephalees Presente</option>
											<option>Cephalees Absente</option>
										</select> 
									</div>
								 
								</div>

								 <div class="col-md-6 col-lg-6">
									
									
									<div class="form-group">
										<label>ENQUÊTE SYSTÉMIQUE - OTO - RHINO - LARYNGOLOGIE(ORL)</label><br/>
										<label>OTALGIE</label><br/>
										<select class="form-control" id="Otalgie" name="Otalgie" required>
											<option selected>{{ enquete.Otalgie }}</option>
											<option>Otalgie Presente</option>
											<option>Otalgie Absente</option>
										</select> 
									</div>


									<div class="form-group">
										<label>ACOUPHÈNES</label><br/>
										<select class="form-control" id="acouphene" name="acouphene" required>
											<option selected>{{ enquete.acouphene }}</option>
											<option>Acouphene Presente</option>
											<option>Acouphene Absente</option>
										</select> 
									</div>

									
									

									<div class="form-group">
										<label>NAUSÉES</label><br/>
										<select class="form-control" id="nausees" name="nausees" required>
											<option selected>{{ enquete.nausees }}</option>
											<option>Nausees Presente</option>
											<option>Nausees Absente</option>
										</select> 
									</div>

									<div class="form-group">
										<label>ENQUÊTE SYSTÉMIQUE - DIGESTIFS</label><br/>
										<label>VOMISSEMENT</label><br/>
										<select class="form-control" id="vomissement" name="vomissement" required>
											<option selected>{{ enquete.vomissement }}</option>
											<option>Vomissement Presente</option>
											<option>Vomissement Absente</option>
										</select> 
									</div>
									<div class="form-group">
										<label>AUTRES ENQUÊTES SYSTÉMIQUE</label><br/>
										<label>ASTHME</label><br/>
										<select class="form-control" id="asthme" name="asthme" required>
											<option selected>{{ enquete.asthme }}</option>
											<option>Asthme Presente</option>
											<option>Asthme Absente</option>
										</select> 
									</div>
									<div class="form-group">
										<label>RHINORRHEE</label><br/>
										<select class="form-control" id="rhinorrhee" name="rhinorrhee" required>
											<option selected>{{ enquete.rhinorrhee }}</option>
											<option>Rhinorrhee Presente</option>
											<option>Rhinorrhee Absente</option>
										</select> 
									</div>
									<div class="form-group">
										<label for="autrees">AUTRES ES</label>
										<input type="text" class="form-control"  name="autrees" value="{{ enquete.autrees}}">
								
									</div>

                                    <div class="form-group">
										<label for="numerodossier">NUMERO DOSSIER *</label>
										<input type="number" class="form-control"  name="es_num_doss" value="{{ enquete.es_num_doss}}">
								
									</div>


									
								</div>

                                  

                                 



							
				
							</div>
						</div>
					<div class="card-action">
						<button class="btn btn-warning">Mise à Jour </button>
					</div>
					
					 

					 
				</form>
			
					
					
					  <!-- Rest of your content goes here -->
				
			</div>
				</div>
			</div>
			
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
