{% extends "layouts/base.html" %}

{% block title %}LISTE DES INFORMATION {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">INFORMATIONS</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">LISTES DES INFORMATIONS</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">LISTES DES INFORMATIONS</h4>
								<button class="btn btn-primary btn-round ml-auto" id="downloadexcel">
									
									 EXPORTER EXCEL
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="multi-filter-select" class="display table table-striped table-hover" >
									<thead>
										<tr>
											<th>N° Dossier</th>
											<th>Nom</th>
											<th>Prenom</th>	
											<th>Age</th>
											<th>Genre</th>	
											<th>Etat Civil</th>	
											<th>Profession</th>	
											<th>Date de Consultation</th>
											<th>Telephone</th>
											<th>Assurer ?</th>
											<th>Assurance Social</th>
											<th>Nom de l'assureur</th>
											<th>Domicile</th>
											<th>Region d'origine</th>
											<th>Statut Malade</th>
											<th>Motif de Consultation</th>
											<th>Poids</th>

											<th>ATCD PO</th>
											<th>ATCD-Glaucome</th>
											<th>ATCD-DMLA</th>
											<th>ALLERGIES</th>
											<th>CHIRUGIE OCULAIRE</th>
											<th>CÉCITÉ</th>
											<th>ATCD-HTA</th>
											<th>ATCD-DIABETE</th>
											<th>ATCD-AVC</th>
											<th>AUTRE-ATCDs</th>
											<th>COM-ATCDs</th>
											<th>ATCD-ALCOOL</th>
											<th>ATCD-FEUX DE BOIS</th>
											<th>ATCD-FUMEUR</th>
											<th>ATCD-LUNETTES</th>
											<th>ATCD-MEDICAMENTS</th>
											<th>ATCD-ORDINATEUR</th>
										
											<th>ES-DOULEUR</th>
											<th>ES-LARMOIEMENT</th>
											<th>ES-PICCOTEMENTS</th>
											<th>ES-PRURITS</th>
											<th>ES-SENS-GRAINS</th>
											<th>ES-FLOU-VISUEL</th>
											<th>ES-META</th>
											<th>ES-PHOTOPSIES</th>
											<th>ES-MYODESOPSIE</th>
											<th>ES-CEPHALÉES</th>
											<th>ES-OTALGIE</th>
											<th>ES-ACOUPHÈNES</th>
											<th>ES-NAUSÉES</th>
											<th>ES-VOMISSEMENT</th>
											<th>ASTHME</th>
											<th>AUTRES ES</th>
											<th>RHINORRHEE</th>


											
											<th>Inspection</th>
											<th>Occulomotricite</th>
											<th>Acuite Visuel Oeil Gauche</th>
											<th>Acuite Visuel Oeil Droite</th>
											<th>Pression Intra-Oculaire OG</th>
											<th>Pression Intra-Oculaire OD</th>
											<th>Axe OD</th>
											<th>Cylindre OG</th>
											<th>Cylindre OD</th>
											<th>Axe OG</th>
											<th>Taille Papille(C|D)</th>
											<th>Annexes OG</th>
											<th>Annexes OD</th>
											<th>Iris OG</th>
											<th>Iris OD</th>
											<th>Cristallin OG</th>
											<th>Cristallin OD</th>
											<th>Vitre OG</th>
											<th>Vitre OD</th>
											<th>Macula ODG</th>
											<th>Papille ODG</th>
											<th>Pupil OG</th>
											<th>Pupil OD</th>
											<th>Chambre Anterieure OG</th>
											<th>Chambre Anterieure OD</th>
											<th>Cornee OG</th>
											<th>Cornee OD</th>
											<th>Examens</th>
											<th>Reflets Corneen</th>
											<th>Retine OG</th>
											<th>Retine OD</th>
											<th>Sphere OD</th>
											<th>Sphere OG</th>
											<th>Nom Medecin</th>
											<th>Nom Patient</th>
											<th>Diagnostique Oeil Gauche</th>
											<th>Diagnostique Oeil Droit</th>
											<th>Commentaire sur les Diagnostique</th>

											<th>CCLs</th>
											<th>CATs</th>
											<th>SUIVI_MALADIE</th>
											<th>RENDEZ VOUS</th>
											<th>TRAITEMENT EN COURS</th>
											<th>DOSE</th>
											<th>DUREE</th>
											<th>TPRESCRIPTIONS</th>
											<th>NOM MEDECIN</th>
											<th>NOM PATIENT</th>
											
											
											
												
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>N° Dossier</th>
											<th>Nom</th>
											<th>Prenom</th>	
											<th>Age</th>
											<th>Genre</th>	
											<th>Etat Civil</th>	
											<th>Profession</th>	
											<th>Date de Consultation</th>
											<th>Telephone</th>
											<th>Assurer ?</th>
											<th>Assurance Social</th>
											<th>Nom de l'assureur</th>
											<th>Domicile</th>
											<th>Region d'origine</th>
											<th>Statut Malade</th>
											<th>Motif de Consultation</th>
											<th>Poids</th>

											<th>ATCD PO</th>
											<th>ATCD-Glaucome</th>
											<th>ATCD-DMLA</th>
											<th>ALLERGIES</th>
											<th>CHIRUGIE OCULAIRE</th>
											<th>CÉCITÉ</th>
											<th>ATCD-HTA</th>
											<th>ATCD-DIABETE</th>
											<th>ATCD-AVC</th>
											<th>AUTRE-ATCDs</th>
											<th>COM-ATCDs</th>
											<th>ATCD-ALCOOL</th>
											<th>ATCD-FEUX DE BOIS</th>
											<th>ATCD-FUMEUR</th>
											<th>ATCD-LUNETTES</th>
											<th>ATCD-MEDICAMENTS</th>
											<th>ATCD-ORDINATEUR</th>
										
											<th>ES-DOULEUR</th>
											<th>ES-LARMOIEMENT</th>
											<th>ES-PICCOTEMENTS</th>
											<th>ES-PRURITS</th>
											<th>ES-SENS-GRAINS</th>
											<th>ES-FLOU-VISUEL</th>
											<th>ES-META</th>
											<th>ES-PHOTOPSIES</th>
											<th>ES-MYODESOPSIE</th>
											<th>ES-CEPHALÉES</th>
											<th>ES-OTALGIE</th>
											<th>ES-ACOUPHÈNES</th>
											<th>ES-NAUSÉES</th>
											<th>ES-VOMISSEMENT</th>
											<th>ASTHME</th>
											<th>AUTRES ES</th>
											<th>RHINORRHEE</th>


											
											<th>Inspection</th>
											<th>Occulomotricite</th>
											<th>Acuite Visuel Oeil Gauche</th>
											<th>Acuite Visuel Oeil Droite</th>
											<th>Pression Intra-Oculaire OG</th>
											<th>Pression Intra-Oculaire OD</th>
											<th>Axe OD</th>
											<th>Cylindre OG</th>
											<th>Cylindre OD</th>
											<th>Axe OG</th>
											<th>Taille Papille(C|D)</th>
											<th>Annexes OG</th>
											<th>Annexes OD</th>
											<th>Iris OG</th>
											<th>Iris OD</th>
											<th>Cristallin OG</th>
											<th>Cristallin OD</th>
											<th>Vitre OG</th>
											<th>Vitre OD</th>
											<th>Macula ODG</th>
											<th>Papille ODG</th>
											<th>Pupil OG</th>
											<th>Pupil OD</th>
											<th>Chambre Anterieure OG</th>
											<th>Chambre Anterieure OD</th>
											<th>Cornee OG</th>
											<th>Cornee OD</th>
											<th>Examens</th>
											<th>Reflets Corneen</th>
											<th>Retine OG</th>
											<th>Retine OD</th>
											<th>Sphere OD</th>
											<th>Sphere OG</th>
											<th>Nom Medecin</th>
											<th>Nom Patient</th>
											<th>Diagnostique Oeil Gauche</th>
											<th>Diagnostique Oeil Droit</th>
											<th>Commentaire sur les Diagnostique</th>

											<th>CCLs</th>
											<th>CATs</th>
											<th>SUIVI_MALADIE</th>
											<th>RENDEZ VOUS</th>
											<th>TRAITEMENT EN COURS</th>
											<th>DOSE</th>
											<th>DUREE</th>
											<th>TPRESCRIPTIONS</th>
											<th>NOM MEDECIN</th>
											<th>NOM PATIENT</th>
											
											
											
											
											
										</tr>
									</tfoot>
									<tbody>
										{% for result in results %}
										<tr>
											<td> {{ result.1 }} </td>
											<td> {{ result.2 }} </td>
											<td> {{ result.3 }} </td>
											<td> {{ result.4 }} </td>
											<td> {{ result.5 }} </td>
											<td> {{ result.6 }} </td>
											<td> {{ result.7 }} </td>
											<td> {{ result.8 }} </td>
											<td> {{ result.9 }} </td>
											<td> {{ result.10 }} </td>
											<td> {{ result.11 }} </td>
											<td> {{ result.12 }} </td>
											<td> {{ result.13 }} </td>
											<td> {{ result.14 }} </td>
											<td> {{ result.15 }} </td>

											<td> {{ result.17 }} </td>
											<td> {{ result.18 }} </td>

											<td> {{ result.21 }} </td>
											<td> {{ result.22 }} </td>
											<td> {{ result.24 }} </td>
											<td> {{ result.25 }} </td>
											<td> {{ result.26 }} </td>
											<td> {{ result.27 }} </td>
											<td> {{ result.28 }} </td>
											<td> {{ result.29 }} </td>
											<td> {{ result.30 }} </td>
											<td> {{ result.31 }} </td>
											<td> {{ result.32 }} </td>
											<td> {{ result.33 }} </td>
											<td> {{ result.34 }} </td>
											<td> {{ result.35 }} </td>
											<td> {{ result.36 }} </td>
											<td> {{ result.37 }} </td>
											<td> {{ result.38 }} </td>
											
											<td> {{ result.41 }} </td>
											<td> {{ result.42 }} </td>
											<td> {{ result.43 }} </td>
											<td> {{ result.44 }} </td>
											<td> {{ result.45 }} </td>
											<td> {{ result.46 }} </td>
											<td> {{ result.47 }} </td>
											<td> {{ result.48 }} </td>
											<td> {{ result.49 }} </td>
											<td> {{ result.50 }} </td>
											<td> {{ result.51 }} </td>
											<td> {{ result.52 }} </td>
											<td> {{ result.53 }} </td>
											<td> {{ result.54 }} </td>
											<td> {{ result.55 }} </td>
											<td> {{ result.56 }} </td>
											<td> {{ result.57 }} </td>

											<td> {{ result.60 }} </td>
										    <td> {{ result.61 }} </td>
                                            <td> {{ result.62 }} </td>
											<td> {{ result.63 }} </td>
											<td> {{ result.64 }} </td>
											<td> {{ result.65 }} </td>
											<td> {{ result.66 }} </td>
											<td> {{ result.67 }} </td>
											<td> {{ result.68 }} </td>
											<td> {{ result.69 }} </td>
											<td> {{ result.70 }} </td>
											<td> {{ result.83 }} </td>
											<td> {{ result.71 }} </td>
											<td> {{ result.72 }} </td>
											<td> {{ result.87 }} </td>
											<td> {{ result.73 }} </td>
											<td> {{ result.86 }} </td>
											<td> {{ result.74 }} </td>
											<td> {{ result.92 }} </td>
											<td> {{ result.75 }} </td>
											<td> {{ result.76 }} </td>
											<td> {{ result.77 }} </td>
											<td> {{ result.88 }} </td>
											<td> {{ result.78 }} </td>
											<td> {{ result.84 }} </td>
											<td> {{ result.79 }} </td>
											<td> {{ result.85 }} </td>
											<td> {{ result.80 }} </td>
											<td> {{ result.81 }} </td>
											<td> {{ result.82 }} </td>
											<td> {{ result.89 }} </td>
											<td> {{ result.90 }} </td>
											<td> {{ result.91 }} </td>
											<td> {{ result.93 }} </td>
											<td> {{ result.94 }} </td>
											<td> {{ result.97 }} </td>
											<td> {{ result.98 }} </td>
											<td> {{ result.99 }} </td>

											<td> {{ result.102 }} </td>
											<td> {{ result.103 }} </td>
											<td> {{ result.104 }} </td>
											<td> {{ result.105 }} </td>
											<td> {{ result.106 }} </td>
											<td> {{ result.107 }} </td>
											<td> {{ result.108 }} </td>
											<td> {{ result.109 }} </td>
											<td> {{ result.110 }} </td>
											<td> {{ result.111 }} </td>
											
											
											
											
											
											
											
										
											
										</tr>
										{% endfor %}
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
	
			</div>






			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 1000,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>
	<script src="/static/assets/js/table2excel.js"></script>
	<script>
		document.getElementById('downloadexcel').addEventListener(
		'click', function() {
			var table2excel = new Table2Excel();
			table2excel.export(document.querySelectorAll("#multi-filter-select")); 
		}
		);
	</script>

{% endblock javascripts %}
