
{% extends "layouts/base.html" %}

{% block title %}UI Forms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">

			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="#">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li> 
				<li class="nav-item">
					<a href="#">OBSERVATIONS</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">TABLEAU DES OBSERVATIONS</a>
				</li>
			</ul>
		</div>
		{% for message in messages %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong style="font-size: 20px; color:green;">{{ message }}</strong> 
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
	  
		<div class="row">

			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title" style="color:green;font-size:25px;"><b>TABLEAU DES OBSERVATIONS</b></div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="multi-filter-select" class="display table table-striped table-hover" >
								<thead style="color:green;font-size:25px;">
									<tr>
										<th>N° Dossier</th>
										<th>Motif de Consultation</th>
										<th>Poids</th>
										<th>Action</th>
									</tr>
								</thead>
								<tfoot style="color:green;font-size:25px;">
									<tr>
										<th>N° Dossier</th>
										<th>Motif de Consultation</th>
										<th>Poids</th>
										<th>Action</th>
									</tr>
								</tfoot>
								<tbody>
									{% for observation in observations %}
									<tr>
										<td>{{ observation.obsnumdoss }}</td>
										<td>{{ observation.motifcon }}</td>
										<td>{{ observation.poids }}</td>
										<td>
											<div class="form-button-action">
												<a type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task" href="/editobservation/{{ observation.id }}">
													<i class="fa fa-edit">
													
													</i>
												</a>
												<a type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove" href="/deleteobservation/{{ observation.id }}">
													<i class="fa fa-times">
														
													</i>
												</a>
											</div>
										</td>
									</tr>
									{% endfor %}
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12">
			



			</div>
			
		</div>
		
	</div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>

{% endblock javascripts %}
